<%= form_for (suggestion) do |f| %>

  <div class="field">
    <%= f.text_area :body, rows: 5, id: 'suggestion-edit-box', required: 'required' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
