<%= form_for (suggestion) do |f| %>

  <div class="field">
    <%= f.text_area :body, rows: 5, class: 'edit-box', required: 'required' %>
  </div>

  <div class="actions">
    <%= f.submit "Edit", class: "btn btn-primary" %>
  </div>

<% end %>
