<%= form_for (comment) do |f| %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, required: 'required' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>