<h1 class="text-center">Ideas</h1>
<% if @ideas.any? %>
  <% @ideas.each do |idea| %>
    <p><%= link_to idea.title, idea_path(idea.id) %> <%= idea.created_at.strftime('%y-%m-%d %H:%m') %></p>
    <p><%= idea.summary %></p> 
  <% end %>
<% else %>
  Nothing yet
<% end %>