<h1>Idea List</h1>
<% if @ideas.any? %>
  <% @ideas.each do |idea| %>
    <p><%= link_to idea.title, %>, <%= idea.created_at.strftime('%y-%m-%d %H:%m') %></p>
    <p><%= idea.summary %></p> 
    
  <% end %>
<% else %>
  Nothing yet
<% end %>