<h1 class="text-center">User Page</h1>
<%= link_to 'Ideas', show_user_ideas_path %>
<br>
<%= link_to 'Suggestions', show_user_suggestions_path %>
<br>
<%= link_to 'Comments', show_user_comments_path %>