<body id="background">
  <div class="jumbotron" id="intro-container">
    <h1 class="text-center" id="title">Idea<em>Ocracy</em></h1>
    <hr />
    <h2 class="text-center" id="tagline">Clarify, collaborate and codify ideas into future projects</h2>
    <div class="text-center">
      <%= button_to 'View Ideas', ideas_path, method: :get, class: "btn btn-success intro-buttons" %>
      <%= button_to 'Create Idea', new_idea_path, method: :get, class: "btn btn-info intro-buttons" %>
    </div>
  </div>
</body>
