<body id="background">
  <div class="jumbotron" id="intro-container">
    <h1 class="text-center" id="title">Idea<em>Ocracy</em></h1>
    <hr />
    <h2 class="text-center" id="tagline">Clarify, collaborate and codify ideas into future projects</h2>
    <div class="text-center">
      <button class="btn btn-success intro-buttons">View Ideas</button>
      <button class="btn btn-info intro-buttons">Create Idea</button>
    </div>
  </div>
</body>
