<div class="text-center">
  <h1 class="text-center">Create Trello Board</h1>
  <form action="/trello/boards" method="post">
    <input type="text" value="<%= @idea.title %>" name="board"></input>
    <input type="submit" value="Create Board"></input>
  </form>
</div>
