#title {
  font-family: 'Maven Pro', sans-serif;
  color: black;
}

#tagline {
  font-family: 'Lobster Two', cursive;
  font-size: 25px;
  line-height: 45px;
  color: black;
}

#background {
  background-image: url('/images/lightbulb.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#intro-container {
  background: rgb(200, 54, 54);
  background: rgba(192, 192, 192, 0.8);
}

#idea-container {
  width: 60%;
}

#lightbulb-icon {
  margin-top: 12px;
  font-size: 25px;
  color: yellow;
}

#suggestion-box {
  width: 60%;
}

#suggestion-body {
  word-wrap: break-word;
}

#idea-title,
#idea-summary {
  width: 60%;
}

#idea-summary {
  height: 150px;
}

#suggestion-body {
  border: solid 1px black;
  border-radius: 5px;
  background-color: #F0F3FC;
  padding: 5px;
}

#comments-container {
  margin-left: 35px;
}

#comment-date {
  color: rgb(174, 175, 180);
}

.intro-buttons {
  margin: 5px;
}

.suggestion-icon {
  font-size: 18px;
  margin-left: 5px;
}
