body {
  overflow-y: scroll;
  overflow-x: hidden;
}

a:link {
  text-decoration: underline;
}

.team {
  font-family: 'Maven Pro', sans-serif;
  color: black;
  font-size: 1.3em;
  display: inline;
  margin-left: 5%;
  text-align: center;
}

#title {
  font-family: 'Maven Pro', sans-serif;
  color: black;
}

#about-text {
  font-family: Sans-serif;
  color: black;
  width: 90%;
  margin-left: 5%;
  text-align: auto;
}


#submit-idea-container {
  width: 50%;
}

#tagline {
  font-family: 'Lobster Two', cursive;
  font-size: 25px;
  line-height: 45px;
  color: black;
}

#background {
  background-image: url('/images/lightbulb.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#intro-container {
  background: rgb(200, 54, 54);
  background: rgba(192, 192, 192, 0.8);
}

#idea-container {
  width: 60%;
}

#lightbulb-icon {
  margin-top: 12px;
  font-size: 25px;
  color: yellow;
}

#suggestion-box {
  width: 60%;
  word-wrap: break-word;
}

#idea-summary {
  height: 150px;
}

#suggestion-body {
  border: solid 1px black;
  border-radius: 5px;
  background-color: #F0F3FC;
  padding: 5px;
}

#comments-container {
  margin-left: 35px;
}

#comment-date {
  color: rgb(174, 175, 180);
}

#board-title {
  width: 20%;
}

#table-body {
  min-width: 80%;
  max-width: 80%;
  margin:auto;
}

#create-board-title {
  margin-bottom: 10px;
}

#content {
  width: 100%;
}

#register-button {
  margin-top: 5px;
}

#idea-search {
  width: 50%;
}

#idea-search input {
  width: 80%;
  display: inline-block;
}

#trello-container {
  width: 80%;
}

#sort-link {
  float: right;
  padding-right: 40px;
  text-decoration: none;
}

#collaborator-list {
  font-size: 12px;
  color: black;
  text-align: center;
  line-height: 1;
}
.user-content {
  width: 50%;
  word-wrap: break-word;
}

.edit-box {
  width: 80%;
}
.intro-buttons {
  margin: 5px;
}

.suggestion-icon {
  font-size: 18px;
  margin-left: 5px;
}

.creator-title {
  font-size: 12px;
  color: grey;
}

.idea-title {
  font-size: 20px;
}

.btn-margin {
  margin-top: 5px;
}

.idea-field {
  width: 60%;
}

/* Checkbox Style */

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.list-text {
  width: 80%;
  word-wrap: break-word;
  display: inline-block;
}

.form-style {
  width: 20%;
  margin: auto;
}

div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

div.container
{
    margin: 0 auto;
    padding: 1em 3em;
    text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

div.nav.navbar-nav.navbar-right.container.borderXwidth{
  display: inline-block;
  margin-right: 0px;
  padding-right: 0px;
  width: 500px;
}

.text-divider {
  margin: 1em 0;
  line-height: 0;
  text-align: center;
}

.text-divider span{
  background-color: #fff;
  color: grey;
}

.text-divider:before{
  content: " ";
  display: block;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #f7f7f7;}
