<!DOCTYPE html>
<html>
  <head>
    <title>Ideaocracy</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/17273112b9.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://trello.com/1/client.js?key=cacfd2f5f9c6ae23474f2ebcd35d2dcc"></script>

  </head>

  <body>
    <nav class="navbar navbar-inverse bg-inverse">
      <a class="navbar-brand" href="/">Ideaocracy</a>
      <% if current_user %>
        <a href="/ideas/new"><i id="lightbulb-icon" class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
